input type="hidden" name="Dados" value=""
input type="button" name="Amostra" value="Amostra"
input type="button" name="Popupulação" value="Populacao"
input type="button" name="Continua" value="Continua"
input type="button" name="Discreta" value="Discreta"
